<section class="inner-content">
    <h2>HOW TO ORDER</h2>
    <div class="inner-order">
        <div>
            <img src="../../../assets/img/bowl_icon.jpg" alt="">
            <p>Pick <br>Your Noodle</p>
        </div>
        <div>
            <img src="../../../assets/img/broth_icon.png" alt=""><br>
            <p>Pick <br>Your Broth</p>
        </div>
        <div>
            <img src="../../../assets/img/eggs_icon.jpg" alt="">
            <p>Add Your <br> Toppings</p>
        </div>
    </div>
</section>