body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: black;
    color: white;
}

canvas{
    background-color: black;
}
h1{
    font-size: 60pt;
}