<div class="inner-content">
    <h2 class="inner-headline">OUR MENU</h2>
    <div class="inner-component">
        <div>
            <img src="../../../assets/img/r1.png" alt="">
        </div>
        <div class="inner-component-text">
            <div>
                <h2>Tonkasu Ramen</h2>
            </div>
            <div>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>