.body {
    margin: 0px;
}

.navi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    box-shadow: 0px 2px 5px rgb(177, 177, 177);
    display: flex;
    align-items: center;
    z-index: 10;
}

.navi img {
    height: 50px;
    margin-left: 20px;
}

.header {
    margin-top: 70px;
    margin-left: -10px;
    width: 79.3vw;
    height: 600px;
    background-image: url("img/sc.png");
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: 0;
    box-shadow: 0px 2px 5px rgb(177, 177, 177);
}

.side {
    position: absolute;
    background-color: white;
    right: 0;
    top: 70px;
    width: 20vw;
    height: 100vh;
    z-index: 1;
    box-shadow: 0px -2px 2px rgb(177, 177, 177);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.side-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.content{
    margin-top: 20px;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: -300px;
}

.meal{
    margin-top: 20px;
    border: 1px solid black;
    width: 40vw;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 20px;
}

.name{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.plus{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
}


.price{
    margin-top: 20px;
    font-size: 20px;
}








.basket{
    margin-top: 20px;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.basket-meal{
    border: 1px solid black;
    width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 20px;
    margin-bottom: 15px;
}

.picture{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.basket-meal img{
       width: 25px;
       height: 25px;
       border: 1px solid black;
       border-radius: 20px;
       cursor: pointer;
}

.basket-name{
    display: flex;
    justify-content: space-between;
}

