<div class="footer" id="about">

    <div class="footer-child">

        <img src="./../../../../assets/img/saklogo.png" alt="">

    </div>

    <div class="footer-child">

        <a href="imprint">Impressum</a>
        <div class="social">
            <img src="./../../../../assets/img/fb.png" style="margin-right:1cm">
            <img src="./../../../../assets/img/ins.png" style="margin-right:1cm">
            <img src="./../../../../assets/img/tripad.png" alt="">
        </div>

    </div>

</div>