body{
    margin: 0 !important;
    font-family: 'Raleway', sans-serif !important;
    color: rgb(99, 99, 99);
}

/* Header+Navigation */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 5px 0px #000000; 
    box-shadow: 0px 1px 5px 0px #000000;
}

.header img{
    height: 80px;
}

.navigation ul a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 16pt;
}

.navigation ul{
    margin-bottom: -80px;
}

.navigation ul a:hover {
    color: green;
    border-bottom: 5px solid green;
}




